---
import { Icon } from "astro-icon/components";

import Main from "@layouts/Main.astro";
---

<Main>
	<article class="mx-20 py-5">
		<section>
			<figure
				class="relative w-full rounded-2xl"
				style="height: calc(100vh - 120px);"
			>
				<img
					class="h-full w-full object-cover rounded-2xl pointer-events-none"
					src="https://picsum.photos/1200/600"
					alt="Dylan Cantillo Arrieta"
				/>
				<div
					class="absolute left-0 bottom-0 flex flex-col justify-start items-start"
				>
					<div
						class="relative px-8 py-4 rounded-se-2xl text-6xl font-bold bg-white"
					>
						<h1>Dylan</h1>
						<Icon class="absolute left-full bottom-0 text-white -rotate-90" name="inrounded-corner" size={20} />
						<Icon class="absolute left-0 bottom-full text-white -rotate-90" name="inrounded-corner" size={20} />
					</div>
					<div
						class="relative px-8 py-4 rounded-se-2xl text-6xl font-bold bg-white"
					>
						<h1>Cantillo Arrieta</h1>
						<Icon class="absolute left-full bottom-0 text-white -rotate-90" name="inrounded-corner" size={20} />
					</div>
				</div>
			</figure>
		</section>
		<section></section>
		<section></section>
	</article>
</Main>
