---
import { Icon } from "astro-icon/components";

import Main from "@layouts/Main.astro";
import Carousel from "@components/Carousel.astro";
---

<Main>
    <article class="md:mx-20 p-5 flex flex-col gap-20">
        <section>
            <figure
                class="relative w-full rounded-2xl"
                style="height: calc(100vh - 120px);"
            >
                <img
                    class="h-full w-full object-cover rounded-2xl pointer-events-none"
                    src="https://picsum.photos/1200/600"
                    alt="Foto de perfil de Dylan Cantillo Arrieta"
                    loading="lazy"
                />
                <div
                    class="absolute left-0 bottom-0 flex flex-col justify-start items-start gap-0"
                >
                    <div
                        class="relative px-4 md:px-8 py-4 rounded-se-2xl text-6xl font-bold bg-white"
                    >
                        <h1 class="max-sm:text-3xl">Dylan</h1>
                        <Icon
                            class="absolute left-full bottom-0 text-white -rotate-90"
                            name="inrounded-corner"
                            size={20}
                        />
                        <Icon
                            class="absolute left-0 bottom-full text-white -rotate-90"
                            name="inrounded-corner"
                            size={20}
                        />
                    </div>
                    <div
                        class="relative px-4 md:px-8 py-4 rounded-se-2xl text-6xl font-bold bg-white"
                    >
                        <h1 class="max-sm:text-3xl">Cantillo Arrieta</h1>
                        <Icon
                            class="absolute left-full bottom-0 text-white -rotate-90"
                            name="inrounded-corner"
                            size={20}
                        />
                    </div>
                </div>
            </figure>
        </section>
        <section class="flex items-center justify-center">
            <div class="flex flex-col gap-5 max-w-[900px] text-center">
                <p class="text-3xl font-bold">Perfil</p>
                <p>
                    Ingeniero de Sistemas con experiencia de 2 años y proximo a
                    grado de Matemáticas. Competente en programación y
                    matemáticas aplicadas, con énfasis en ciencia de datos,
                    desarrollo FullStack, modelado de bases de datos. Dominio
                    avanzado en lenguajes de programación como Python y
                    JavaScript. Capaz de diseñar, desarrollar y optimizar
                    sistemas con enfoque en la resolución de problemas
                    complejos. Orientado a resultados, con un alto nivel de
                    motivación, compromiso y responsabilidad. Destacada
                    capacidad de trabajo en equipo y atención al detalle. Con
                    aptitudes para aportar valor a la organización mediante la
                    innovación y el desarrollo de soluciones eficaces. Promedio
                    distinguido durante todo el ciclo universitario.
                </p>
            </div>
        </section>
        <section class="flex flex-col gap-5">
            <div class="flex items-baseline justify-between">
                <p class="text-3xl font-bold">Proyectos</p>
                <a class="px-5 py-1 border-b border-black font-semibold" href="/projects">Ver todos</a>
            </div>
            <Carousel />
        </section>
    </article>
</Main>