---

---

<style>
    .box {
        height: auto;
        float: left;
        transition: 0.5s linear;
        position: relative;
        display: block;
        overflow: hidden;
        text-align: center;
        background: transparent;
    }

    .box:before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        box-sizing: border-box;
        transform: translateX(100%);
    }

    .box:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        box-sizing: border-box;
        transform: translateX(-100%);
    }

    .box:hover:before {
        border-color: black;
        height: 100%;
        transform: translateX(0);
        transition:
            0.3s transform linear,
            0.3s height linear 0.3s;
    }

    .box:hover:after {
        border-color: black;
        height: 100%;
        transform: translateX(0);
        transition:
            0.3s transform linear,
            0.3s height linear 0.5s;
    }

    button {
        text-decoration: none;
        cursor: pointer;
        outline: none;
        border: none;
        background: transparent;
    }
</style>

<button>
    <span class="box px-2 py-1">
        <slot />
    </span>
</button>
