<div class="w-1/2 h-60 border rounded-2xl relative" id="tsparticles">
    <p class="font-extrabold text-3xl absolute top-5 left-1/2 -translate-x-1/2 drop-shadow-[2px_2px_2px_gray]">Habilidades</p>
</div>

<script src="@js/particles.js"></script>
