---
import { Icon } from "astro-icon/components";

import Particles from "@components/Particles.astro";

const socials = [
    {
        name: "GitHub",
        url: "https://github.com/Dysaca22",
        icon: "github",
    },
    {
        name: "LinkedIn",
        url: "https://www.linkedin.com/in/dylan-cantillo/",
        icon: "linkedin",
    },
    {
        name: "Instagram",
        url: "https://www.instagram.com/dysaca/",
        icon: "instagram",
    },
    {
        name: "Email",
        url: "mailto:dylancantilloa@gmail.com",
        icon: "mail",
    },
];

const particle_imgs = [
    "images/skills/python-logo.png",
    "images/skills/js-logo.png",
    "images/skills/sql-logo.png",
    "images/skills/latex-logo.png",
    "images/skills/gcp-logo.png",
    "images/skills/power-bi-logo.png",
    "images/skills/java-logo.png",
];
---

<style>
    footer {
        box-shadow: 0px -4px 6px -1px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px -4px 6px -1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px -4px 6px -1px rgba(0, 0, 0, 0.1);
    }
</style>

<footer>
    <Particles particle_imgs={particle_imgs}>
        <div
            class="flex flex-row items-center justify-center gap-4 absolute top-0 left-0 w-full h-full"
        >
            {
                socials.map(({ name, url, icon }) => (
                    <a class="group relative" href={url} target="_blank">
                        <Icon
                            class="w-8 hover:scale-125 duration-200 hover:stroke-blue-500"
                            name={icon}
                            size={25}
                        />
                        <span class="absolute -top-12 left-0 z-20 origin-left scale-0 px-3 rounded-lg border border-gray-300 bg-white py-2 text-sm font-bold shadow-md transition-all duration-300 ease-in-out group-hover:scale-100">
                            {name}
                            <span />
                        </span>
                    </a>
                ))
            }
        </div>
    </Particles>
</footer>
