:root {
    --gap: 15px;
    --text-color: black;
    --radius: 20px;
    --bg-color-100: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
    font-size: 12px;
    color: var(--text-color);
}

html {
    border-radius: var(--radius);
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
}

button,
a {
    cursor: pointer;
}

.header {
    margin: 5px;
    border-radius: var(--radius);
    background-color: bisque;

    & .menu {
        padding: 0 var(--gap);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }

    & nav ul {
        display: flex;
        flex-flow: row nowrap;
        gap: var(--gap);

        & li {
            list-style: none;
            padding: 5px 15px;
            border: 1px solid gray;
            border-radius: var(--radius);
        }
    }

    & a {
        text-decoration: none;
    }

    & .main {
        & .info {
            text-align: center;
            padding: 70px 10%;

            & h1 {
                width: 100%;
                font-weight: bolder;
                font-size: 4.5rem;
            }

            & h3 {
                text-align: start;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }

        & .footer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-end;

            & figure {
                margin: 0 0 var(--gap) var(--gap);
                width: 120px;
                aspect-ratio: 11/16;
                border-radius: var(--radius);
                overflow: hidden;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            & .contact {
                padding: 10px;
                border-top-left-radius: var(--radius);
                background-color: var(--bg-color-100);
                position: relative;

                & button {
                    border-radius: var(--radius);
                    padding: 8px 1rem;
                    width: 100%;
                }

                & .radius {
                    position: absolute;
                    width: var(--radius);
                    height: var(--radius);
                    background-color: var(--bg-color-100);
                }

                & .radius.bottom {
                    right: 100%;
                    bottom: 0;

                    &::before {
                        content: "";
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        background-color: bisque;
                        border-bottom-right-radius: var(--radius);
                    }
                }

                & .radius.top {
                    right: 0;
                    bottom: 100%;

                    &::before {
                        content: "";
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        background-color: bisque;
                        border-bottom-right-radius: var(--radius);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 769px) {
    html {
        font-size: 18px;
    }
}